


<div class="card-header">
  <h4>What is sound?</h4>
</div>
<div class="card-body">
  <div class="col-md-12">
    <blockquote>

      "In physics, sound is a vibration that typically propagates as an audible wave of pressure, through a transmission medium such as a gas, liquid or solid."
      <footer><cite>https://en.wikipedia.org/wiki/Sound</cite></footer>
    </blockquote>

    Sound waves are often simplified to a description in terms of sinusoidal plane waves.
  </div>
  <div class="col-lg-12 text-center">
    <canvas style="width: 50%" id="canvas" width="800" height="800"></canvas>

  </div>
</div>


