<div class="row">
  <blockquote>
    <h1 class="mt-5">What is sound?</h1>

    "In physics, sound is a vibration that typically propagates as an audible wave of pressure, through a transmission medium such as a gas, liquid or solid."
    <footer><cite>https://en.wikipedia.org/wiki/Sound</cite></footer>
  </blockquote>

  Sound waves are often simplified to a description in terms of sinusoidal plane waves, which are characterized by these generic properties:

  <ul>
    <li>Frequency, or its inverse, wavelength</li>
    <li>Amplitude, sound pressure or Intensity</li>
    <li>Speed of sound</li>
    <li>Direction</li>
  </ul>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="form">
      <div class="form-group">
        <label for="amplitude">Amplitude</label>
        <input id="amplitude" class="form-control" type="range" min="0" max="5" step="0.1" [(ngModel)]="amplitude" (change)="sinWave()"/> {{amplitude}}
      </div>

      <div class="form-group">
        <label for="frequency">Frequency</label>
        <input id="frequency" class="form-control" type="range" min="1" max="10"  step="0.1" [(ngModel)]="frequency" (change)="sinWave()"/> {{frequency}}
      </div>

      <div class="form-group">
        <label for="phase">Phase</label>
        <input id="phase" class="form-control" type="range" min="0" max="20"  step="0.2" [(ngModel)]="phase" (change)="sinWave()"/> {{phase}}
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <app-canvas-chart style="width: 100%" [array]="samples" [width]="800" [height]="600" [minX]="minX" [maxX]="maxX" [minY]="-5" [maxY]="5"></app-canvas-chart>
  </div>
</div>

<app-sound-simple-demo></app-sound-simple-demo>
<app-sound-square-wave></app-sound-square-wave>
<app-sound-sawtooth-wave></app-sound-sawtooth-wave>
