<div class="row">
  <blockquote>
    <h1 class="mt-5">What is sound?</h1>

    "In physics, sound is a vibration that typically propagates as an audible wave of pressure, through a transmission medium such as a gas, liquid or solid."
    <footer><cite>https://en.wikipedia.org/wiki/Sound</cite></footer>
  </blockquote>

  Sound waves are often simplified to a description in terms of sinusoidal plane waves, which are characterized by these generic properties:

  <ul>
    <li>Frequency, or its inverse, wavelength</li>
    <li>Amplitude, sound pressure or Intensity</li>
    <li>Speed of sound</li>
    <li>Direction</li>
  </ul>
</div>


<app-sound-sin-form></app-sound-sin-form>
<app-sound-simple-demo></app-sound-simple-demo>
<app-sound-square-wave></app-sound-square-wave>
<app-sound-sawtooth-wave></app-sound-sawtooth-wave>
<app-sound-noise-wave></app-sound-noise-wave>
<app-sound-square-fourier></app-sound-square-fourier>
<app-sound-player></app-sound-player>
<app-sound-pass-filter></app-sound-pass-filter>
