<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4>Harmonics</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
              <label>Iterations: {{iterations}}</label>
            </div>
            <div class="col-md-8">
              <input class="form-control" type="range" min="0" max="30" step="1" [(ngModel)]="iterations" (change)="setIterations()"/>
            </div>
            <div class="col-md-2">
              <div class="btn btn-info" style="width: 100%" (click)="randomize()">Randomize</div>
            </div>
            <div class="col-md-12" #div12>
              <app-d3chart [points]="samples" [minX]="minX" [maxX]="maxX" [minY]="-1.5" [maxY]="1.5" [width]="div12.clientWidth-20" [height]="300" labelX="time (s)" labelY="amplitude"></app-d3chart>
            </div>
            <app-math-formula class="col-md-12" [formula]="initialFormula">
            </app-math-formula>
            <div class="col-md-12" #divB>
              <app-d3chart [points]="freqNormalized" [minX]="0" [maxX]="maxFreq/4" [minY]="this.analyser.minDecibels" [maxY]="0" [width]="divB.clientWidth-20" [height]="300" labelX="frequency (Hz)" labelY="amplitude (dB)"></app-d3chart>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="pull-right">
            <app-toggle-button [value]="soundEnabled" (changeEmitter)="toggleSound($event)"></app-toggle-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
