<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4>Artists</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
            <ul>
              <li>Carbon Based Lifeforms - Polyrytmi</li>
              <li>Shpongle - Brain In A Fishtank</li>
              <li>Nena ‎- 99 Luftballons</li>
            </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
