<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4>Extra Demos</h4>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <ul>
              <li>
                <a target="_blank" rel="noopener noreferrer" href="https://hdlopesrocha.github.io/water-perlin-music/">
                  Water perlin noise
                </a>
              </li>
              <li>
                <a target="_blank" rel="noopener noreferrer" href="https://hdlopesrocha.github.io/polar-perlin-music/">
                  Polar perlin noise
                </a>
              </li>
              <li>
                <a target="_blank" rel="noopener noreferrer" href="https://hdlopesrocha.github.io/spiral-viz">
                  Spiral visualization
                </a>
              </li>
              <li>
                <a target="_blank" rel="noopener noreferrer" href="https://hdlopesrocha.github.io/spring-webgl/">
                  3D water visualization
                </a>
              </li>
              <li>
                <a target="_blank" rel="noopener noreferrer" href="https://hdlopesrocha.github.io/ripple-viz/">
                  Ripple visualization
                </a>
              </li>
              <li>
                <a target="_blank" rel="noopener noreferrer" href="https://hdlopesrocha.github.io/radial-blur/">
                  Radial blur visualization
                </a>
              </li>
              <li>
                <a target="_blank" rel="noopener noreferrer" href="https://hdlopesrocha.github.io/music-sphere/">
                  Music sphere
                </a>
              </li>
              <li>
                <a target="_blank" rel="noopener noreferrer" href="https://hdlopesrocha.github.io/texture-blend">
                  Texture blend
                </a>
              </li>
              <li>
                <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=wbpMiKiSKm8">
                  Perlin noise terrain generation
                </a>
              </li>
              <li>
                <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=SgWlpXDJ79g">
                  Perlin noise clouds
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
