<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4>Demo</h4>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <h4>Source: <a href="https://github.com/hdlopesrocha/spring-piano">https://github.com/hdlopesrocha/spring-piano</a></h4>
            <img style="width: 25%" src="assets/qrcode_piano.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
