<!-- Page Content -->

<ul class="nav justify-content-end">
  <li class="btn btn-info" (click)="addSlide(-1)">
    <i class="fa fa-arrow-left"></i>
  </li>
  <li class="btn btn-info" (click)="addSlide(+1)">
    <i class="fa fa-arrow-right"></i>
  </li>
</ul>

<app-video-title *ngIf="slideNumber == 0"></app-video-title>
<app-video-canvas-intro *ngIf="slideNumber == 1"></app-video-canvas-intro>
<app-video-canvas-demo-link *ngIf="slideNumber == 2"></app-video-canvas-demo-link>
<app-video-canvas-noise *ngIf="slideNumber == 3"></app-video-canvas-noise>
<app-video-canvas-clouds *ngIf="slideNumber == 4"></app-video-canvas-clouds>
<app-video-canvas-moving-clouds *ngIf="slideNumber == 5"></app-video-canvas-moving-clouds>
<app-video-webgl-intro *ngIf="slideNumber == 6"></app-video-webgl-intro>
<app-video-webgl-pipepline *ngIf="slideNumber == 7"></app-video-webgl-pipepline>
<app-video-webgl-demo-link *ngIf="slideNumber == 8"></app-video-webgl-demo-link>
<app-video-webgl-light *ngIf="slideNumber == 9"></app-video-webgl-light>
<app-video-webgl-diffuse1 *ngIf="slideNumber == 10"></app-video-webgl-diffuse1>
<app-video-webgl-diffuse2 *ngIf="slideNumber == 11"></app-video-webgl-diffuse2>
<app-video-webgl-specular1 *ngIf="slideNumber == 12"></app-video-webgl-specular1>
<app-video-webgl-specular2 *ngIf="slideNumber == 13"></app-video-webgl-specular2>
<app-video-test *ngIf="slideNumber == 14"></app-video-test>
<app-video-questions *ngIf="slideNumber == 15"></app-video-questions>
<app-sound-contact *ngIf="slideNumber == 16"></app-sound-contact>
<app-video-artists *ngIf="slideNumber == 17"></app-video-artists>
