<!-- Page Content -->

<ul class="nav justify-content-end">
  <li class="btn btn-info" (click)="addSlide(-1)">
    <i class="fa fa-arrow-left"></i>
  </li>
  <li class="btn btn-info" (click)="addSlide(+1)">
    <i class="fa fa-arrow-right"></i>
  </li>
</ul>

<app-video-title *ngIf="slideNumber == 0"></app-video-title>
<app-sound-intro *ngIf="slideNumber == 1"></app-sound-intro>
<app-video-canvas-intro *ngIf="slideNumber == 2"></app-video-canvas-intro>
<app-video-canvas-noise *ngIf="slideNumber == 3"></app-video-canvas-noise>
<app-video-canvas-clouds *ngIf="slideNumber == 4"></app-video-canvas-clouds>
<app-video-canvas-moving-clouds *ngIf="slideNumber == 5"></app-video-canvas-moving-clouds>
