<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4>References</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <ul>
                <li>Synth Secrets: Gordon Reid's Guide To Synthesis
                  <a href="https://www.soundonsound.com/techniques/synth-secrets-all-63-parts-sound-on-sound">(link)</a>
                </li>
                <li>Paul Adenot: SINFO 23 (Mozilla)
                  <a href="https://www.youtube.com/watch?v=sEe-yeh3-WY">(link)</a>
                </li>
                <li>W3: Web Audio Api
                  <a href="https://www.w3.org/TR/webaudio/">(link)</a>
                </li>
                <li>MDN Web Docs: Web Audio Api
                  <a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API">(link)</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
