<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4>Artists</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <ul>
                <li>Tipper - Portal Spillage</li>
                <li>Be Svendsen - Circle</li>
                <li>Bluetech - Alchemie Dub</li>
                <li>Grouch - Computer Language</li>
                <li>Ott - Smoked Glass and Chrome</li>
                <li>Tipper - Gulch</li>
                <li>Shpongle - Walking Backwards Through The Cosmic Mirror</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
