<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4>Contact</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
              <img style="width: 100%" src="assets/photo.png">
            </div>
            <div class="col-md-5">
              <h4>Henrique Rocha</h4>
              <h5><i class="fa fa-envelope-o"></i> hdlopesrocha91@gmail.com</h5>
              <h5><i class="fa fa-instagram"></i> hdlopesrocha91</h5>
              <h5><i class="fa fa-github"></i> https://github.com/hdlopesrocha</h5>
            </div>
            <div class="col-md-5">
              <qr-code value="https://hdlopesrocha.github.io/spring-campus-2019/dist/spring/" [size]="300"></qr-code>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h3>
                <a href="https://hdlopesrocha.github.io/spring-campus-2019/dist/spring/">https://hdlopesrocha.github.io/spring-campus-2019/dist/spring/</a>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
