<div class="row">
  <div class="col-md-12">
    <div class="card mt-4">
      <div class="card-header">
        <h4>Harmonics</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form">
              <div class="form-group">
                <label for="squareIterations">Iterations</label>
                <input id="squareIterations" class="form-control" type="range" min="0" max="30" step="1" [(ngModel)]="iterations" (change)="setIterations()"/> {{iterations}}
              </div>
              <div class="form-group">
                <div class="btn btn-info" (click)="randomize()">Randomize</div>
              </div>
            </div>
          </div>
          <div class="col-md-12" #div12>
            <app-d3chart [points]="samples" [minX]="minX" [maxX]="maxX" [minY]="-1.5" [maxY]="1.5" [width]="div12.clientWidth-20" [height]="300"></app-d3chart>
          </div>
          <div class="col-md-12" [mathjax]>
            $${{initialFormula}}$$
          </div>
          <div class="col-md-12" #divB>
            <app-d3chart [points]="freqNormalized" [minX]="0" [maxX]="maxFreq/4" [minY]="0" [maxY]="1" [width]="divB.clientWidth-20" [height]="300"></app-d3chart>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="pull-right">
         <app-toggle-button [value]="soundEnabled" (changeEmitter)="toggleSound($event)"></app-toggle-button>
        </div>
      </div>
    </div>
  </div>
</div>
