<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4>Diffuse Shading</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-5">
              <img style="width: 100%" src="assets/light.png">
            </div>
            <div class="col-md-7">
              <app-math-formula class="col-md-12" [formula]="initialFormula">
              </app-math-formula>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
