<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4>Square Wave Usages</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
              <h5 class="text-center">Clarinet</h5>
              <img style="width: 100%" src="assets/clarinet.png">
            </div>
            <div class="col-md-4">
              <h5 class="text-center">Saxophone</h5>
              <img style="width: 100%" src="assets/saxophone.png">
            </div>
            <div class="col-md-2">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
