<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4>Fourier Transform (Square Wave)</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
              <label>Iterations: {{iterations}}</label>
            </div>
            <div class="col-md-10">
              <input class="form-control" type="range" min="0" max="30" step="1" [(ngModel)]="iterations" (change)="setIterations()"/>
            </div>
            <div class="col-md-12" #divA>
              <app-d3chart [points]="samplesFFT" [minX]="0" [maxX]="60" [minY]="0" [maxY]="1.5" [width]="divA.clientWidth-20" [height]="300"  labelX="frequency (Hz)" labelY="amplitude"></app-d3chart>
            </div>
            <div class="col-md-12">
              The fundamental frequency is defined as the lowest frequency of a periodic waveform.
            </div>
            <app-math-formula class="col-md-12" [formula]="initialFormula">
            </app-math-formula>
            <app-math-formula class="col-md-12" [formula]="sums">
            </app-math-formula>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
