<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4>Web Audio API</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 text-center">
              <blockquote>
                "The Web Audio API provides a powerful and versatile system for controlling audio on the Web, allowing developers to choose audio sources, add effects to audio, create audio visualizations, apply spatial effects (such as panning) and much more."
                <footer><cite>https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API</cite></footer>
              </blockquote>
            </div>
            <div class="col-lg-12">

              <br>Audio nodes are linked via their inputs and outputs, forming a chain that starts with one or more sources, goes through one or more nodes, then ends up at a destination.
              <br><br>A simple, typical workflow for web audio would look something like this:
              <ul>
                <li>Create the audio context.</li>
                <li>Inside the context, create sources — such as < audio >, oscillator, or stream.</li>
                <li>Create effects nodes, such as reverb, biquad filter, panner, or compressor.</li>
                <li>Choose the final destination for the audio, such as the user's computer speakers.</li>
                <li>Establish connections from the audio sources through zero or more effects, eventually ending at the chosen destination.</li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
