<div class="row">
  <div class="col-lg-12 text-center">
    <h1 class="mt-5">Web Audio API</h1>


    <blockquote>
      "The Web Audio API provides a powerful and versatile system for controlling audio on the Web, allowing developers to choose audio sources, add effects to audio, create audio visualizations, apply spatial effects (such as panning) and much more."
      <footer><cite>https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API</cite></footer>
    </blockquote>
  </div>
</div>
