<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4>Test</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              Which of the following aspects do you take into account to calculate diffuse light?
              <ul>
                <li>A) Light Direction</li>
                <li>B) Surface Normal Vector</li>
                <li>C) Surface Normal Vector & Light Direction</li>
                <li>D) Observer Position & Light Reflection with Surface</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
