<!-- Page Content -->

<ul class="nav justify-content-end">
  <li class="btn btn-info" (click)="addSlide(-1)">
    <i class="fa fa-arrow-left"></i>
  </li>
  <li class="btn btn-info" (click)="addSlide(+1)">
    <i class="fa fa-arrow-right"></i>
  </li>
</ul>

<app-sound-title *ngIf="slideNumber == 0"></app-sound-title>
<app-sound-intro *ngIf="slideNumber == 1"></app-sound-intro>
<app-sound-sin-form *ngIf="slideNumber == 2"></app-sound-sin-form>
<app-sound-sine-example *ngIf="slideNumber == 3"></app-sound-sine-example>
<app-sound-simple-demo *ngIf="slideNumber == 4"></app-sound-simple-demo>
<app-sound-square-wave *ngIf="slideNumber == 5"></app-sound-square-wave>
<app-sound-square-example *ngIf="slideNumber == 6"></app-sound-square-example>
<app-sound-sawtooth-wave *ngIf="slideNumber == 7"></app-sound-sawtooth-wave>
<app-sound-sawtooth-example *ngIf="slideNumber == 8"></app-sound-sawtooth-example>
<app-sound-square-fourier *ngIf="slideNumber == 9"></app-sound-square-fourier>
<app-sound-compare-waves *ngIf="slideNumber == 10"></app-sound-compare-waves>
<app-sound-player *ngIf="slideNumber == 11"></app-sound-player>
<app-sound-pass-filter *ngIf="slideNumber == 12"></app-sound-pass-filter>
<app-sound-noise-wave *ngIf="slideNumber == 13"></app-sound-noise-wave>
<app-sound-snare-wave *ngIf="slideNumber == 14"></app-sound-snare-wave>
<app-sound-kick-wave *ngIf="slideNumber == 15"></app-sound-kick-wave>
<app-sound-harmonics-generator *ngIf="slideNumber == 16"></app-sound-harmonics-generator>
<app-sound-harmonics *ngIf="slideNumber == 17"></app-sound-harmonics>
<app-sound-wapi-intro *ngIf="slideNumber == 18"></app-sound-wapi-intro>
<app-sound-wapi-oscillator *ngIf="slideNumber == 19"></app-sound-wapi-oscillator>
<app-sound-demo-link *ngIf="slideNumber == 20"></app-sound-demo-link>
<app-sound-code01 *ngIf="slideNumber == 21"></app-sound-code01>
<app-sound-code02 *ngIf="slideNumber == 22"></app-sound-code02>
<app-sound-code03 *ngIf="slideNumber == 23"></app-sound-code03>
<app-sound-code04 *ngIf="slideNumber == 24"></app-sound-code04>
<app-sound-code05 *ngIf="slideNumber == 25"></app-sound-code05>
<app-sound-code06 *ngIf="slideNumber == 26"></app-sound-code06>
<app-sound-references *ngIf="slideNumber == 27"></app-sound-references>
<app-sound-questions *ngIf="slideNumber == 28"></app-sound-questions>
<app-sound-contact *ngIf="slideNumber == 29"></app-sound-contact>
<app-sound-artists *ngIf="slideNumber == 30"></app-sound-artists>
