<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4>Canvas API</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              The <b>&lt;canvas&gt;</b> element was added to HTML5 and it can be used to:
              <ul>
                <li>draw graphs</li>
                <li>make photo compositions</li>
                <li>create animations</li>
                <li>do real-time video processing or rendering</li>
              </ul>
              With JavaScript.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
