<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4>Square Wave</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
              <label>Iterations: {{iterations}}</label>
            </div>
            <div class="col-md-10">
              <input class="form-control" type="range" min="0" max="30" step="1" [(ngModel)]="iterations" (change)="setIterations()"/>
            </div>
            <div class="col-md-12" #div12>
              <app-d3chart [points]="samples" [minX]="minX" [maxX]="maxX" [minY]="-1.5" [maxY]="1.5" [width]="div12.clientWidth-20" [height]="300" labelX="time (s)" labelY="amplitude"></app-d3chart>
            </div>
            <app-math-formula class="col-md-12" [formula]="initialFormula">
            </app-math-formula>
            <app-math-formula class="col-md-12" [formula]="sums">
            </app-math-formula>
          </div>
        </div>
        <div class="card-footer">
          <div class="pull-right">
            <small>(with f={{soundFrequency}}Hz)&nbsp;</small><app-toggle-button [value]="soundEnabled" (changeEmitter)="toggleSound($event)"></app-toggle-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
