<div class="card-header">
  <h4>Square Wave</h4>
</div>
<div class="card-body">
  <div class="row">
    <div class="col-md-12">
      <div class="form">
        <div class="form-group">
          <label for="squareIterations">Iterations</label>
          <input id="squareIterations" class="form-control" type="range" min="0" max="30" step="1" [(ngModel)]="iterations" (change)="setIterations()"/> {{iterations}}
        </div>
      </div>
    </div>
    <div class="col-md-12" #div12>
      <app-d3chart [points]="samples" [minX]="minX" [maxX]="maxX" [minY]="-1.5" [maxY]="1.5" [width]="div12.clientWidth-20" [height]="300"></app-d3chart>
    </div>
    <div class="col-md-12" [mathjax]>
      $${{initialFormula}}$$
    </div>
    <div class="col-md-12" [mathjax] *ngIf="!processing">
        $${{sums}}$$
    </div>
  </div>
</div>
<div class="card-footer">
  <div class="pull-right">
    <small>(with f={{soundFrequency}}Hz)&nbsp;</small><app-toggle-button [value]="soundEnabled" (changeEmitter)="toggleSound($event)"></app-toggle-button>
  </div>
</div>
