<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">

        <div class="card-header">
          <h4>Frequency filtering</h4>
        </div>
        <div class="card-body">
          <div class="row">

            <div class="col-md-2">
            </div>
            <div class="col-md-4">
              <h5 class="text-center">Low pass filter</h5>
              <img style="width: 100%" src="assets/lowpass.png">
            </div>
            <div class="col-md-4">
              <h5 class="text-center">High pass filter</h5>
              <img style="width: 100%" src="assets/highpass.png">
            </div>
            <div class="col-md-2">
            </div>
          </div>
          <div class="row">

            <div class="col-md-2">
            </div>
            <div class="col-md-8">
              <label>Be careful with phase changes</label>
              <img style="width: 100%" src="assets/cancelation.svg">
            </div>
            <div class="col-md-2">
            </div>
          </div>


        </div>

      </div>
    </div>
  </div>
</div>
