<div class="container">
  <div [style.height]="margin + 'px'"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4>Fourier Transform (with music)</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12" #divA>
              <app-d3chart [points]="dataNormalized" [minX]="0" [maxX]="1" [minY]="-1.05" [maxY]="1.05" [width]="divA.clientWidth-20" [height]="300" labelX="time (s)" labelY="amplitude"></app-d3chart>
            </div>
            <div class="col-md-12" #divB>
              <app-d3chart [points]="freqNormalized" [minX]="0" [maxX]="maxFreq" [minY]="this.analyser.minDecibels" [maxY]="this.analyser.maxDecibels" [width]="divB.clientWidth-20" [height]="300" labelX="frequency (Hz)" labelY="amplitude (dB)"></app-d3chart>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="pull-right">
            <input #data type="file" name="file" (change)="processFile(data)" style="display: none">
            <app-toggle-button [value]="soundEnabled" (changeEmitter)="toggleSound($event, data)"></app-toggle-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
