<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4>References</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <ul>
                <li>W3 Schools: HTML Canvas Reference
                  <a href="https://www.w3schools.com/tags/ref_canvas.asp">(link)</a>
                </li>
                <li>Khronos: OpenGL ES for the Web
                  <a href="https://www.khronos.org/webgl/">(link)</a>
                </li>
                <li>OpenGL: The Model, View and Projection matrices
                  <a href="http://www.opengl-tutorial.org/beginners-tutorials/tutorial-3-matrices/#the-model-view-and-projection-matrices">(link)</a>
                </li>
                <li>Android Jones: Microdose VR
                  <a href="https://youtu.be/6nPrTm_QdCI?t=15">(link)</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
