<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">

        <div class="card-header">
          <h4>Frequency filtering</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12" #divA>
              <app-d3chart [points]="freqNormalized" [minX]="0" [maxX]="maxFreq" [minY]="this.analyser.minDecibels" [maxY]="this.analyser.maxDecibels" [width]="divA.clientWidth-20" [height]="600"  labelX="frequency (Hz)" labelY="amplitude (dB)"></app-d3chart>
            </div>
            <div class="col-md-3">
               <label>Low pass filter: {{lowPass}} Hz</label>
            </div>
            <div class="col-md-9">
              <input class="form-control" type="range" min="0" max="22050" step="50" [(ngModel)]="lowPass" (change)="setLowPass()"/>
            </div>
            <div class="col-md-3">
              <label>High pass filter: {{highPass}} Hz</label>
            </div>
            <div class="col-md-9">
              <input class="form-control" type="range" min="0" max="22050" step="50" [(ngModel)]="highPass" (change)="setHighPass()"/>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="pull-right">
            <input #data type="file" name="file" (change)="processFile(data)" style="display: none">
            <app-toggle-button [value]="soundEnabled" (changeEmitter)="toggleSound($event, data)"></app-toggle-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
