<!-- Page Content -->




<ul class="nav justify-content-end">
  <li class="btn btn-info" (click)="addSlide(-1)">
    <i class="fa fa-arrow-left"></i>
  </li>
  <li class="btn btn-info" (click)="addSlide(+1)">
    <i class="fa fa-arrow-right"></i>
  </li>
</ul>

<app-sound-title *ngIf="slideNumber == 0"></app-sound-title>
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <app-sound-intro class="card" *ngIf="slideNumber == 1"></app-sound-intro>
        <app-sound-sin-form class="card" *ngIf="slideNumber == 2"></app-sound-sin-form>
        <app-sound-simple-demo class="card" *ngIf="slideNumber == 3"></app-sound-simple-demo>
        <app-sound-square-wave class="card" *ngIf="slideNumber == 4"></app-sound-square-wave>
        <app-sound-sawtooth-wave class="card" *ngIf="slideNumber == 5"></app-sound-sawtooth-wave>
        <app-sound-square-fourier class="card" *ngIf="slideNumber == 6"></app-sound-square-fourier>
        <app-sound-player class="card" *ngIf="slideNumber == 7"></app-sound-player>
        <app-sound-pass-filter class="card" *ngIf="slideNumber == 8"></app-sound-pass-filter>
        <app-sound-noise-wave class="card" *ngIf="slideNumber == 9"></app-sound-noise-wave>
        <app-sound-snare-wave class="card" *ngIf="slideNumber == 10"></app-sound-snare-wave>
        <app-sound-kick-wave class="card" *ngIf="slideNumber == 11"></app-sound-kick-wave>
        <app-sound-harmonics class="card" *ngIf="slideNumber == 12"></app-sound-harmonics>
        <app-sound-wapi-intro class="card" *ngIf="slideNumber == 13"></app-sound-wapi-intro>
        <app-sound-wapi-oscillator class="card" *ngIf="slideNumber == 14"></app-sound-wapi-oscillator>
    </div>
  </div>
</div>
