<div class="row">
  <div class="col-md-12">
    <div class="card mt-4">
      <div class="card-header">
        <h4>White Noise</h4>
      </div>
      <div class="card-body">
        <div class="col-md-12">
          <app-canvas-chart style="width: 100%" [array]="samples" [width]="800" [height]="200" [minX]="minX" [maxX]="maxX" [minY]="-2" [maxY]="2"></app-canvas-chart>
        </div>
      </div>
      <div class="card-footer">
        <div class="pull-right">
          <app-toggle-button (changeEmitter)="toggleSound($event)"></app-toggle-button>
        </div>
      </div>
    </div>
  </div>
</div>
